html, body{
    font-family: Courier, monospace;
}

#wrapper{
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 4vh;
    column-gap: 4vh;
    padding: 4vh;
    margin: 0 auto;
}

p{
    font-size: 12pt;
}

a{
    color: black;
    text-decoration: none;
}

.small{
    height: 28vh;
}

.intro{
    grid-column: 1/3;
    grid-row: 1/3;
    width: 60vh;
    height: 60vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.assignment{
    width: 28vh;
    height: 28vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.readings{
    width: 28vh;
    height: 28vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.title{
    position: absolute;
    width: fit-content;
}

.intro:before{
    content: "";
    width: 60vh;
    height: 60vh;
    position: absolute;
    background: rgba(186, 238, 251, 0.9);
}

/* .intro:hover{
    box-shadow: none;
}

.intro:hover::before{
    opacity: 0;
}

.intro:hover h1{
    opacity: 0;
}

.intro:hover h2{
    opacity: 0;
} */

.assignment:before{
    content: "";
    width: 28vh;
    height: 28vh;
    position: absolute;
    background: rgba(228, 186, 251, 0.9);
}

.assignment:hover{
    box-shadow: none;
}

.assignment:hover::before{
    opacity: 0;
}

.assignment:hover > p{
    opacity: 0;
}

.readings:before{
    content: "";
    width: 28vh;
    height: 28vh;
    position: absolute;
    background: rgba(216, 253, 184, 0.85);
}

.readings:hover{
    box-shadow: none;
}

.readings:hover::before{
    opacity: 0;
}

.readings:hover > p{
    opacity: 0;
}

/* Readings Page */

#readings-wrapper{
    width: 63vw;
    padding: 2vw;
    margin: 0 auto;
}

.collapsible {
    background-color: #E6E6E6;
    color: black;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    padding: 0 0 0 2vw;
    font-family: Courier, monospace;
    margin-top: 2vw;
}
  
.active, .collapsible:hover {
    background-color: #C2C2C2;
}
  
.content {
    padding: 0 2vw 0 2vw;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

#readings-title{
    width: 100%;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(216, 253, 184, 0.85);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Assignment Pages */

#assignment-wrapper{
    width: 124vh;
    height: fit-content;
    padding: 4vh;
    margin: 0 auto;
}

#assignment-wrapper-2{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

#description{
    width: 60vh;
    height: 60vh;
}

#description-cover{
    position: absolute;
    width: 60vh;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(228, 194, 247);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

#description-text{
    position: relative;
    top: 1vh;
    left: 1vh;
    width: 60vh;
    height: 60vh;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; */
    z-index: -1;
    background: rgba(228, 194, 247);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

#text-wrapper{
    padding: 4vh;
}

#description-cover:hover{
    opacity: 0;
}

.large{
    height: 60vh;
}

#thumbnail{
    width: 60vh;
    height: 60vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vh;
}
